body {
  margin: 0; 
  display: flex;
  flex-direction: column; 
  min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(2, 2, 51);
}
header h1, header p {
    color:  #9ec34b;
}

.login {
    display: none;
}

.wrapper {
    display: flex;
    flex: 1;
}

aside {
    width: 300px;
}

.main {
    flex: 1;
    box-shadow: 1px 1px 5px 1px #999;
}


input[type="text"] {
    width: 250px; /*親要素いっぱい広げる*/
    padding: 10px 15px; /*ボックスを大きくする*/
    font-size: 16px;
    border-radius: 3px; /*ボックス角の丸み*/
    border: 2px solid #ddd; /*枠線*/
    box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
    background-color: #d3ee95;
}

input[type="text"]:focus, input[type="submit"]:focus {
    border: 2px solid rgb(115, 115, 199); 
    z-index: 10;
    outline: 0;
}
button , input[type="submit"]{
    display: inline-block;
    max-width: 180px;
    text-align: left;
    border: 2px solid #9ec34b;
    font-size: 16px;
    color: #9ec34b;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    transition: .4s;
}

button:hover, input[type="submit"]:hover{
    background-color: #9ec34b;
    border-color: #cbe585;
    color: #FFF;

}

left {
    width: 300px;
}
footer {
    height: 100px;
    background-color: rgb(2, 2, 51);
}